body{
    background-color:white;
}

.outer-form{
    display: flex;
    width: 600px;
    border: 1px solid #aaa8a8 ;
    border-radius: 10px;
    margin: auto;
    box-shadow: -1px 1px 1px 0px rgba(0,0,0,0.75);
    padding: 10px;
}

.guestmode{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    
}

.login-page{
    width: 100%;
    margin-top: 50px;
}

.form1{
    background-color:#ffffff;
    max-width: 360px;
    padding: 30px;
    margin: auto;
    border: 1px gray solid;
     border-radius: 10px;
}
.form{
    background-color:#ffffff;
    max-width: 360px;
    padding: 30px;
    margin: auto;
}

.form input{
   font-family: "Roboto", sans-serif;
   outline: 1;
   background: #ffffff;
   width: 100%;
   border:1px gray solid !important;
   border-radius: 5px;
   margin: 0 0 15px;
   padding: 15px;
   font-size: 12px;
}
.userpassword {
    width: 48%;
    float: left;
} 

.confirmpassword {
    width: 48%;
    float:right;
}

 .firstname{
    width: 49%;
    float: left;   
}

 .lastname{
    width: 49%;
    float: right;
}
input[name="button"]{
    background-color: #056ed6;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    color:white;
}

.container{
    position: relative;
}
.fundooImage{
    width: 100px;
    height: 52px;
    margin-left: 35%;
}

.registerImage{
    width: 100px;
    height: 52px;
}

.envolpe{
    width: 200px;
    object-fit: contain;
}

input[name="button"]:hover,input[name="button"]:active{
    background: #547ebd;
}

.form i[name="login-eye-icon"]{
     /* margin-left: -20px; */
    /* margin-bottom: -10px; */
    cursor: pointer;
    margin-bottom:5px;
    position: absolute; 
    margin-left: 320px;
}

.form i[name="register-eye-icon"]{
   cursor: pointer;
   margin-bottom:5px;
   position: absolute; 
   margin-left: -25px; 
   margin-top: 15px;
}

.fa {
    cursor: pointer;
    color: #999;
    margin-top: 15px;
}

.fa.active{
    color: midnightblue;
}


#nameerror{
    color: red;
    font-style: bold;
    margin-top: 2px;
}

#name-error{
    color: red;
    font-style: bold;
    margin-top: 2px;
}

#emailerror{
    color: red;
    font-style: bold;
}

#passworderror{
    color: red;
    font-style: bold;
}

.message{
    text-align: left;
    font-size: 15px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
}

.signup {
    margin-left: 145px;
    margin-bottom: 5%;
    font-family: "Roboto", sans-serif;
}

.continue {
    margin-left: 120px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
}

.emailInfo{
    color: gray;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
}

*{
    margin:0;
    padding: 0;
}

.forgotCredentials{
    color: rgb(3, 3, 141);
    background-color: #ffffff;
    border: none;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;

}

.password-eye {
    display: flex;
    justify-content: space-around;
}

.createaAccount{
margin-bottom:15px;
font-weight: 400;
font-family: "Roboto", sans-serif;
}

div[name="loginform"]{
    border: 1px gray solid; 
    border-radius: 10px;
}